[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/ThunderKittens"]
	path = third_party/ThunderKittens
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "third_party/MagiAttention"]
	path = third_party/MagiAttention
	url = git@github.com:SandAI-org/MagiAttention.git
